.banner {
    width: 90%;
    height: 40vh;
    margin: 20px auto ;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    h2 {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        padding: 10px;
        color: white;
        z-index: 10;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.3;
            z-index: -1;
        }
    }
}

.home__banner {
    height: 15vh !important;
    @media screen and (min-width:992px) {
        width: 100%;
        font-size: 32px;
        height: 220px !important;
        border-radius: 25px;
        h2 {
            text-align: center;
        }
    }
}