.slider {
    width: 100%;
    height: 60vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    img:first-child {
        object-fit:cover;
        width: 100%;
        height: 100%;
        position:absolute;
    }
}

.arrow {
    cursor: pointer;
    &__left {
        transform: rotate(90deg);
    }
    &__right {
        transform: rotate(270deg);
        justify-self: flex-end;
    }
}