.slider {
    width: 100%;
    height: 60vh;
    position: relative;
    img:first-child {
        object-fit:cover;
        width: 100%;
        height: 100%;
        position:absolute;
    }
}

.arrow {
    border: 2px solid gray;
    position: relative;
    top: 50%;
    &__left {
        transform: rotate(90deg);
    }
    &__right {
        transform: rotate(270deg);
    }
}