
.switchBar {
    background-color: $red-basic;
    display: flex;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px;
    h2 {
        font-size: 13px;
    }
    img {
        height: 18px;
        width: 18px;
    }
}

.box {
    background-color: $grey-background;
    padding: 12px;
    border-radius: 5px;
}

.standard-box {
    margin-bottom: 20px;
    cursor: pointer;
    p, ul {
        line-height: 140%;
        font-size: 12px;
    }
}

@media screen and (min-width:768px) {
    .switchBar {
        border-radius: 10px;
        padding: 15px 20px;
        h2 {
            font-size: 18px;
        }
        img {
            height: 32px;
            width: 32px;
        }
    }
    .productPage__boxes {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        .standard-box {
            width: 47%;
            height: auto;
            .box {
                font-size: 18px;
                padding: 20px;
            }
        }
    }
}