
.switchBar {
    background-color: $red-basic;
    display: flex;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 5px 10px;
}

.box {
    background-color: $grey-background;
    padding: 12px;
    border-radius: 5px;
}

.standard-box {
    margin-bottom: 20px;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .switchBar {
        border-radius: 10px;
        padding: 15px 20px;
    }
    .productPage__boxes {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        .standard-box {
            width: 47%;
            height: auto;
            .box {
                font-size: 18px;
            }
        }
    }
}