.Thumb {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 90%;
    background: $red-basic;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    img {
        object-fit: cover;
        height: 80%;
    }
    h3 {
        color: white;
        padding: 10px;
    }
}