.error-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    h1 {
        font-size: 96px;
        line-height: 96px;
        font-weight: 700;
    }
    a {
        text-decoration: underline;
        align-self: flex-start;
    }
}

@media screen and (min-width:992px) {
    .error-page {
        h1 {
            font-size: 288px;
            line-height: 288px;
        }
        p {
            font-size: 36px;
        }
        a {
            font-size: 18px;
        }
    }
}