.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnails__Box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width:768px) {
.home {
    div {
        margin-top: 43px;
        }
    .thumbnails__Box {
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $grey-background;
        padding: 56px 50px;
        border-radius: 25px;
        h3 {
            padding: 20px;
            font-size: 18px;
            font-weight: 500;
        }
        }
    }
}