
.productPage {
    &__title {
        h1 {
            font-size: 18px;
            font-weight: 600;
            margin: 5px auto;
        }
        p {
            font-size: 14px;
            font-weight: 600;
            margin: 5px auto;
        }
        .tagBox {
            color: white;
            background-color: $red-basic;
            font-size: 10px;
            margin: 8px 5px 8px 0;
            padding: 5px 15px;
            white-space: nowrap;
            border-radius: 8px;
        }
    }
    &__rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px auto;
        .star {
            width: 18px;
            height: 18px;
        }
        .host {
            display: flex;
            align-items: center;
            max-width: 30%;
            margin: 15px 0;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
            span {
                text-align: end;
                margin-right: 10px;
                font-size: 12px;
                line-height: 140%;
                font-weight: 600;
            }
        }
    }
}

.switchBox {
    background-color: $red-basic;
    display: flex;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 5px 10px;
    margin: 15px auto 20px;
}