
.productPage {
    &__title {
        h1 {
            font-size: 18px;
            font-weight: 600;
            margin: 5px auto;
        }
        p {
            font-size: 14px;
            font-weight: 600;
            margin: 5px auto;
        }
        .tagBox {
            color: white;
            background-color: $red-basic;
            font-size: 10px;
            margin: 8px 5px 8px 0;
            padding: 5px 15px;
            white-space: nowrap;
            border-radius: 8px;
        }
    }
    &__rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px auto;
        .star {
            width: 18px;
            height: 18px;
        }
        .host {
            display: flex;
            align-items: center;
            max-width: 30%;
            margin: 15px 0;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
            span {
                text-align: end;
                margin-right: 10px;
                font-size: 12px;
                line-height: 140%;
                font-weight: 600;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .productPage {
        &__pres {
            display: grid;
            grid-template-columns: 7fr 3fr;
            margin: 20px 0 25px;
        }
        &__title {
            h1 {
                font-size: 36px;
                line-height: 120%;
            }
            p {
                font-size: 18px;
                margin-bottom: 20px;
            }
            .tagBox {
                font-size: 14px;
                margin-right: 10px;
                padding: 7px auto;
                white-space: nowrap;
                border-radius: 10px;
            }
        }
        &__rating {
            flex-direction: column-reverse;
            justify-self: end;
            margin: 0;
            .star {
                width: 36px;
                height: 36px;
            }
            .host {
                margin: 0;
                transform: translate(-25%);
                img {
                    width: 64px;
                    height: 64px;
                }
                span {
                    margin-right: 10px;
                    font-size: 18px;
                }
            }
        }
    }
}