* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 20px;
    border: 2px solid gray;
    font-family: $monserrat;
    color: $red-basic;
    line-height: 140%;
    position: relative;
    display: flex;
    justify-content: center;
}

h1,h2 {
    font-weight: 400;
}

@media screen and (min-width:992px) {
    section, header {
        max-width: 1240px;
    }
}