* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0 10px;
    font-family: $monserrat;
    color: $red-basic;
    line-height: 140%;
    position: relative;
}

.layout {
    margin: 10px;
}

section {
    margin: auto;
}

section, header {
    max-width: 1240px;
}

h1,h2 {
    font-weight: 400;
}

@media screen and (min-width:768px) {
    body {
        padding: 20px;
    }
    .layout {
        margin: 20px 60px;
    }
}