@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');

/* Fonts */
$monserrat: 'Montserrat', sans-serif;

/* Colors */
$red-basic: #FF6060;
$thumbnail-gradient: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);

